*{
    margin: 0;
    padding: 0;
    /* transition: all 1s ease; */
}

.projectContainer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: antiquewhite; */
    width: 100%;
    padding-bottom: 10px;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
